@font-face {
  font-family: "Stardos";
  src: url(../fonts/StardosStencil-Bold.ttf);
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.ttf);
}
h1 {
  font-size: 121px;
  font-family: "Stardos";
}

h2 {
  font-size: 69px;
  font-family: "Stardos";
}

h3 {
  font-size: 64px;
  font-family: "Lato Bold";
}

.mobile-subtitle {
  font-size: 36px;
}

p {
  font-size: 20px;
  font-family: "Lato";
}

.btn-styled {
  font-size: 20px;
  font-family: "Lato";
  text-decoration: none;
  color: black !important;
  background-color: #19e4f9;
  border: 2px solid #19e4f9;
  border-radius: 25px;
  padding: 4px 50px;
}

.btn-styled:hover {
  text-decoration: none;
  color: #19e4f9 !important;
  background-color: black;
  box-shadow: 0px 0px 40px #19e4f9;
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 13px;
  }
}
@keyframes navDown {
  0% {
    opacity: 0.3;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.carousel_room_container {
  display: flex;
  height: 100vh;
}
.carousel_room_container .img-container {
  flex-basis: 100%;
  padding-left: 10%;
  width: 100%;
  height: 100%;
  margin-top: -5rem;
}
.carousel_room_container .img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(4px 4px 10px #000000);
}
.carousel_room_container .carousel_room_description {
  position: relative;
  width: 60vw;
  padding-right: 10rem;
  text-align: center;
  margin-top: 8rem;
}
.carousel_room_container .carousel_room_description h3 {
  color: white;
  font-size: 40px;
}
.carousel_room_container .carousel_room_description p {
  color: white;
}
.carousel_room_container .carousel_room_description .btn {
  margin-top: 5rem;
}

.carousel_room_title {
  color: white;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 15vw;
  margin-right: 15vw;
  text-transform: uppercase;
}

.carousel_button_custom {
  font-size: 150px;
  color: #8C2AFF;
  opacity: 1 !important;
  text-shadow: 0 0 10px black;
}

.dot {
  height: 20px !important;
  width: 20px !important;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 100%;
}

.carousel_room_info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 3rem;
}

.carousel_info_img_container {
  height: 70px;
  width: 70px;
  margin-left: -10%;
  margin-right: 20px;
}
.carousel_info_img_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel_absolute {
  position: absolute;
  bottom: 6rem;
  display: flex;
  flex-direction: column;
}
.carousel_absolute .btn-styled {
  margin-top: 1rem;
  display: inline-block;
  align-self: center;
}

@media (max-width: 767.98px) {
  .carousel_room_container {
    flex-direction: column;
    height: 120vh;
  }

  .carousel_absolute {
    position: relative;
    margin-top: 6rem;
  }

  .carousel_room_description {
    width: 100% !important;
    margin-top: 0px !important;
    padding-right: 0px !important;
  }
}
#section4 {
  background: black;
  padding-top: 50px;
}
#section4 #section4Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: black;
  width: 80%;
  margin: 0 auto;
}
#section4 #section4Container > div {
  text-align: center;
  flex: 1 0 20%;
  min-width: 270px;
  max-width: 350px;
  margin: 10px;
  border-radius: 8px;
  padding: 20px 20px 20px;
}
#section4 #section4Container > div img {
  width: 80%;
}
#section4 #section4Container > div p {
  font-family: "lato";
  color: white;
  margin-top: 100px;
  font-weight: 600;
}

#feature {
  display: grid;
  grid-template-rows: 30% 1fr;
  text-align: center;
  background: #19e4f9;
  background: linear-gradient(115deg, rgba(25, 226, 249, 0.808) 0%, rgba(57, 103, 231, 0.753) 68%, rgba(141, 42, 255, 0.658) 100%);
  padding-top: 50px;
  padding-bottom: 200px;
  color: white;
}
@media (max-width: 767.98px) {
  #feature {
    align-items: center;
    justify-content: center;
  }
}
#feature #featureTitle {
  max-width: 90%;
  margin: 0 auto;
}
#feature #imgContainer {
  background: url(../img/pexels-atahan-demir-3633990.png) center/cover;
  height: 50vh;
  width: 40%;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 20px 15px 20px 14px rgba(0, 0, 0, 0.178);
}
@media (max-width: 870px) {
  #feature #imgContainer {
    width: 60%;
  }
}
@media (max-width: 767.98px) {
  #feature #imgContainer {
    margin: 0 auto;
    width: 60%;
  }
}
@media (max-width: 550px) {
  #feature #imgContainer {
    height: 30vh;
  }
}

footer {
  background: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
@media (max-width: 767.98px) {
  footer {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 30% 1fr;
    grid-template-areas: "logo" "reseau" "nav";
  }
  footer .logoFooterContainer {
    grid-area: logo;
  }
  footer .logoReseau {
    grid-area: reseau;
  }
  footer .navFooterContainer {
    grid-area: nav;
  }
}
@media (max-width: 550px) {
  footer {
    grid-template-rows: 1fr 20% 1fr;
  }
}
footer .navFooterContainer {
  display: flex;
  justify-content: center;
}
footer .navFooterContainer #navFooter {
  margin: 0;
  padding: 0;
  color: #4c4c4c;
  font-family: "Lato";
  font-size: 1.4rem;
  font-weight: 600;
  text-align: left;
}
footer .navFooterContainer #navFooter li:hover {
  cursor: pointer;
  color: white;
}
@media (max-width: 767.98px) {
  footer .navFooterContainer #navFooter {
    text-align: center;
  }
}
footer .logoFooterContainer {
  background: white;
  border-radius: 150px;
  width: 180px;
  height: 180px;
  margin: 0 auto;
}
footer .logoFooterContainer #logoFooter {
  width: 85%;
}
footer #logoReseau {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
footer #logoReseau li {
  width: 15%;
  margin: 20px;
}
footer #logoReseau li:hover {
  cursor: pointer;
  transition: 0.2s;
}

footer::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background: #19e4f9;
}

.contactTop {
  background: url(../img/logo-08.jpg) center/cover;
  padding-top: 100px;
}

.contactHeader {
  max-width: 25%;
  padding-top: 50px;
  margin-left: 50px;
}
.contactHeader h3 {
  font-family: "Stardos";
  color: white;
  font-size: 3rem;
  font-weight: 900;
  line-height: 30px;
}
.contactHeader p {
  font-size: 1rem;
  color: white;
}

.formContainer {
  background: black;
  width: 40%;
  margin: 0 auto;
  padding: 20px 10px 50px;
  border-radius: 20px;
  z-index: 10;
  transform: translateY(50px);
  position: relative;
}
@media screen and (max-width: 850px) {
  .formContainer {
    width: 60%;
  }
}
@media screen and (max-width: 576px) {
  .formContainer {
    width: 90%;
  }
}
.formContainer form {
  display: grid;
  width: 90%;
  margin: 0 auto;
  gap: 10px;
}
.formContainer form > input {
  border-radius: 10px;
  border: none;
  padding: 10px;
}
.formContainer form textarea {
  border-radius: 10px;
  border: none;
  padding: 10px;
}
.formContainer form #valid {
  width: 150px;
  border-radius: 50px;
  background-color: #19e4f9;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 20px 0 0;
  border: 2px solid #19e4f9;
}
@media screen and (max-width: 576px) {
  .formContainer form #valid {
    margin: 20px auto 0;
    width: 90%;
  }
}
.formContainer form #valid:hover {
  background: black;
  color: #19e4f9;
}

.contactFooter {
  background: #8c2aff;
  min-height: 75vh;
  display: flex;
  align-items: center;
}
.contactFooter .contactFooterContainer {
  width: 90%;
  margin: 0 auto;
  color: white;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
.contactFooter .contactFooterContainer h3 {
  font-size: 3rem;
  font-family: "stardos";
  padding-bottom: 40px;
}
.contactFooter .contactFooterContainer h4 {
  padding-bottom: 40px;
}
.contactFooter .contactFooterContainer p {
  font-size: 0.8rem;
}
@media screen and (max-width: 850px) {
  .contactFooter .contactFooterContainer h3 {
    font-size: 2rem;
  }
  .contactFooter .contactFooterContainer h4 {
    font-size: calc(1rem + 0.3vw);
  }
  .contactFooter .contactFooterContainer p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 576px) {
  .contactFooter .contactFooterContainer {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.contactFooter .contactFooterContainer .googleMap {
  width: 45%;
  display: flex;
  align-items: center;
}
.contactFooter .contactFooterContainer .googleMap iframe {
  width: 100%;
  height: 80%;
}
@media screen and (max-width: 576px) {
  .contactFooter .contactFooterContainer .googleMap {
    width: 90%;
    height: 450px;
  }
}
.contactFooter .contactFooterContainer .adresse {
  margin: 50px 0 0;
  width: 20%;
  padding-left: 15px;
}
.contactFooter .contactFooterContainer .adresse h4 {
  padding: 0;
}
.contactFooter .contactFooterContainer .adresse .line {
  max-width: 150px;
  width: 70%;
  height: 2px;
  background: white;
  border-radius: 50px;
  margin: 20px 0;
}
@media screen and (max-width: 576px) {
  .contactFooter .contactFooterContainer .adresse {
    width: 90%;
  }
}
.contactFooter .contactFooterContainer .horaires {
  text-align: right;
  width: 35%;
}
@media screen and (max-width: 576px) {
  .contactFooter .contactFooterContainer .horaires {
    width: 90%;
  }
}
.contactFooter .contactFooterContainer .horaires .localizationContainer {
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 576px) {
  .contactFooter .contactFooterContainer .horaires .localizationContainer {
    justify-content: space-between;
  }
}
.contactFooter .contactFooterContainer .horaires .localizationContainer .localizationLogo {
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 576px) {
  .contactFooter .contactFooterContainer .horaires .localizationContainer .localizationLogo {
    width: 90%;
  }
}
.contactFooter .contactFooterContainer .horaires .localizationContainer .localizationLogo img {
  width: 100%;
}
.contactFooter .contactFooterContainer .horaires .localizationContainer .day {
  display: flex;
  flex-direction: column;
}
.contactFooter .contactFooterContainer .horaires .localizationContainer .day div {
  height: 60px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 576px) {
  .contactFooter .contactFooterContainer .horaires .localizationContainer .day div {
    height: 80px;
  }
}
.contactFooter .contactFooterContainer .horaires .localizationContainer .day div .period {
  font-weight: 600;
}
@media screen and (max-width: 576px) {
  .contactFooter .contactFooterContainer .horaires {
    width: 90%;
  }
}

body {
  text-decoration: none;
}

#section-carousel-room {
  background-image: url("../img/logo-08.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  padding-top: 2rem;
}

.relative {
  position: relative;
}

#section-review {
  background-color: black;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#section-review .gradient-border {
  background: #19e4f9;
  background: linear-gradient(137deg, #19e4f9 0%, #19e4f9 0%, #8c2aff 100%);
  border-radius: 30px;
  width: 80vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-review .gradient-border .review-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 78vw;
  height: 32vh;
  border-radius: 20px;
}
#section-review .gradient-border .review-container .purple-text {
  color: #8C2AFF;
}
#section-review .gradient-border .review-container .review-sub-flex {
  display: flex;
  align-items: center;
  padding: 0rem 5rem;
}
#section-review .gradient-border .review-container .review-sub-flex p {
  color: white;
  padding-left: 2rem;
  text-align: center;
}
#section-review .gradient-border .review-container .review-sub-flex .review-img-container {
  height: 100px;
  min-width: 100px;
}
#section-review .gradient-border .review-container .review-sub-flex .review-img-container img {
  border-radius: 500px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 767.98px) {
  .review-container p {
    font-size: 10px;
  }

  .review-sub-flex {
    padding: 0 1rem !important;
  }
}
.resume {
  color: white;
  size: 100%;
  background-color: black;
  text-align: center;
  padding: 5rem;
}
.resume h2 {
  size: 69px;
  padding: 0 1rem;
}
.resume p {
  margin: 3rem 1rem;
  font-size: 20px;
}

@media (max-width: 767.98px) {
  h2 {
    size: 40px !important;
  }

  p {
    font-size: 15px !important;
  }
}
.triangle {
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  background-color: black;
  height: 150px;
  width: 100%;
  position: absolute;
  z-index: 100;
  top: -149px;
}

.prix-container {
  position: relative;
}
.prix-container .prix {
  z-index: 1;
  color: white;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prix-container .prix h2 {
  size: 69px;
  margin: 0 0 2rem 0;
}
.prix-container .prix .gligne {
  width: 17rem;
  height: 5px;
  border-top: 3px solid white;
}
.prix-container .prix .sectionPrix {
  flex-direction: column;
  align-items: center;
  margin: 2rem 3rem;
  display: flex;
  justify-content: center;
}
.prix-container .prix .sectionPrix .pligne {
  width: 100px;
  height: 6px;
  border-top: 3px solid white;
}
.prix-container .prix .sectionPrix h3 {
  font-size: 30px;
  font-family: "Franklin";
  margin: 1rem;
}
.prix-container .prix .sectionPrix p {
  font-size: 30px;
}
.prix-container .prix .sectionPrix span {
  color: #19e4f9;
  font-size: 35px;
  font-family: "Stardos";
}
.prix-container .prix .sectionPrix a {
  margin: 2rem;
  font-size: 20px;
  font-family: "Lato";
  text-decoration: none;
  color: black;
  background-color: #19e4f9;
  border: 2px solid #19e4f9;
  border-radius: 25px;
  padding: 4px 50px;
}
.prix-container .prix .sectionPrix a:hover {
  text-decoration: none;
  color: #19e4f9;
  background-color: black;
  box-shadow: 0px 0px 40px #19e4f9;
}

li {
  list-style: none;
}

nav {
  opacity: 0;
}

.burgerMenue {
  position: fixed;
  right: 10px;
  top: 10px;
}
.burgerMenue div {
  background: #000;
  height: 5px;
  width: 35px;
  margin: 5px;
  border-radius: 5px;
}

.navburger {
  position: absolute;
  right: 15px;
  top: 60px;
  text-align: right;
  opacity: 1;
  transition: 1s;
  flex-direction: column;
  align-items: flex-end;
}

.reservation-container {
  background-image: url("../img/logo-08.jpg");
  color: white;
  padding-top: 25vh;
  background-repeat: repeat-y;
  background-size: cover;
  padding-bottom: 2rem;
}
.reservation-container .reservationFormTitle {
  margin-bottom: 1rem;
}
.reservation-container .reservation-main-flex {
  display: flex;
  justify-content: space-between;
}
.reservation-container .reservation-main-flex .reservation-title {
  margin-left: 5rem;
}
.reservation-container .reservation-main-flex .reservation-title h1 {
  font-size: 50px;
  text-transform: uppercase;
}
.reservation-container .reservation-main-flex .reservation-title p {
  font-size: 15px;
}
.reservation-container .reservation-main-flex .reservation-col-flex {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  width: 25vw;
}
.reservation-container .reservation-main-flex .reservation-col-flex .btn-styled {
  align-self: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.reservation-container .reservation-main-flex .reservation-sub-flex {
  display: flex;
}
.reservation-container .reservation-main-flex .reservation-sub-flex label img {
  height: 100%;
  width: 100%;
}
.reservation-container .reservation-main-flex .reservation-sub-flex2 {
  display: flex;
  justify-content: space-between;
}

.reservationLabel {
  border-radius: 5px 0px 0px 5px;
  height: 2rem;
  width: 2rem;
  background-color: #8C2AFF;
}

.reservationSelect {
  border-radius: 0px 5px 5px 0px;
  height: 2rem;
  width: 100%;
}

.reservationSelectHalf {
  border-radius: 0px 5px 5px 0px;
  height: 2rem;
  width: 75%;
}

.reservationDivider {
  margin: 0.5rem 0rem;
}

.reservation-timestamp-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.timestampBtn {
  background-color: white;
  color: #1B6AA3;
  padding: 0.5rem 0.75rem;
  margin: 0.2rem 0.2rem;
  border-radius: 5px;
  cursor: pointer;
}
.timestampBtn:hover {
  background-color: #1B6AA3;
  color: white;
}

.reservationInput {
  border-radius: 5px;
  height: 2rem;
  margin: 0.25rem;
}

.img-recu {
  position: absolute;
  left: 35%;
  width: 30%;
}

.img-phone {
  width: 100%;
}

@media (max-width: 767.98px) {
  .reservation-title {
    display: none !important;
  }

  .reservation-main-flex {
    justify-content: center !important;
  }

  .reservation-col-flex {
    width: 50vw !important;
    margin: 0 !important;
  }
}
@keyframes fogDown {
  0% {
    transform: translateY(0%);
    opacity: 0.3;
  }
  100% {
    transform: translateY(20%);
    opacity: 1;
  }
}
@keyframes hangarUp {
  0% {
    opacity: 0.3;
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes titleUp {
  0% {
    z-index: 8;
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
    z-index: 15;
  }
}
header {
  height: 100vh;
}
header .headerContainer {
  overflow: hidden;
  z-index: 10;
  height: 100%;
}
header .headerContainer .titleContainer {
  position: absolute;
  z-index: 15;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: titleUp 2s forwards;
}
@media screen and (max-width: 576px) {
  header .headerContainer .titleContainer {
    font-size: 31px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50%;
    z-index: 10;
  }
}
header .headerContainer .titleContainer h1 {
  color: white;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold !important;
  font-size: 81px;
  letter-spacing: 3px;
}
@media screen and (max-width: 1000px) {
  header .headerContainer .titleContainer h1 {
    font-size: 61px;
  }
}
@media screen and (max-width: 800px) {
  header .headerContainer .titleContainer h1 {
    font-size: 41px;
  }
}
@media screen and (max-width: 576px) {
  header .headerContainer .titleContainer h1 {
    font-size: 31px;
  }
}
header .headerContainer div {
  position: absolute;
  width: 100%;
  height: 100%;
}
header .headerContainer .sky {
  background: url(../img/ciel-nuageux.png) center/cover;
  z-index: 7;
}
header .headerContainer .hangarContainer {
  overflow: hidden;
  animation: hangarUp 2s forwards;
  z-index: 10;
}
@media screen and (max-width: 576px) {
  header .headerContainer .hangarContainer {
    animation: none;
  }
}
header .headerContainer .hangarContainer .hangardesckt {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 576px) {
  header .headerContainer .hangarContainer .hangardesckt {
    width: 100%;
    bottom: 0;
    display: none;
  }
}
header .headerContainer .hangarContainer .hangar {
  display: none;
}
@media screen and (max-width: 576px) {
  header .headerContainer .hangarContainer .hangar {
    width: 100%;
    bottom: 0;
    display: flex;
    position: absolute;
  }
}
header .headerContainer .fogContainer {
  overflow: hidden;
  z-index: 15;
}
header .headerContainer .fogContainer .fog {
  background: url(../img/brouillard.png);
  height: 100%;
  bottom: 0;
  animation: fogDown 2s forwards;
}
header .headerContainer .streetLamp {
  background: url(../img/lampadaire.png) left/cover;
  width: 100%;
  z-index: 11;
}

.rooms {
  padding-top: 150px;
  background: black;
  color: white;
  text-align: center;
  min-height: 100vh;
}
.rooms .roomMainFlex {
  display: flex;
}
.rooms .video {
  align-self: center;
  width: 50%;
  max-width: 1150px;
  height: 500px;
  margin-left: 25%;
}
.rooms .video iframe {
  width: 100%;
  height: 100%;
}
.rooms .infosSalles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rooms .infosSalles .infoPeople {
  display: flex;
  align-items: center;
}
.rooms .infosSalles .infoTime {
  display: flex;
  align-items: center;
}
.rooms .infosSalles .littleImage {
  width: 70px;
  height: 70px;
}
.rooms .infosSalles .littleImage img {
  width: 100%;
  height: 100%;
}
.rooms .btn-reserv {
  margin-top: 65px;
  margin-bottom: 1rem;
  font-size: 21px;
  font-family: "Lato";
  text-decoration: none;
  color: white !important;
  background-color: #19e4f9;
  border: 2px solid #19e4f9;
  border-radius: 25px;
  padding: 10px 50px;
}
.rooms .btn-reserv:hover {
  text-decoration: none;
  color: #19e4f9 !important;
  background-color: black;
  box-shadow: 0px 0px 40px #19e4f9;
}

.roomDescription {
  margin: 2rem 10rem;
}

@media (max-width: 767.98px) {
  .roomMainFlex {
    flex-direction: column;
    align-items: center;
  }

  .video {
    margin-left: 0 !important;
    width: 75%;
  }

  .roomDescription {
    margin: 2rem 5rem;
  }
}
@keyframes navAnimeIn {
  0% {
    right: -150%;
  }
  100% {
    right: 0;
  }
}
@keyframes navAnimeOut {
  0% {
    right: 0;
  }
  100% {
    right: -150%;
  }
}
.burgerMenue {
  position: fixed;
  right: 10px;
  top: 10px;
  display: none;
  z-index: 151;
  animation: navDown 2s forwards;
}
@media screen and (max-width: 576px) {
  .burgerMenue {
    display: flex;
    flex-direction: column;
  }
}
.burgerMenue div {
  background: #000;
  height: 5px;
  width: 35px;
  margin: 5px;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.82);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 150;
  height: 120px;
  animation: navDown 2s forwards;
}
@media screen and (max-width: 576px) {
  nav {
    height: 70px;
  }
}
nav .logo {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
}
@media screen and (max-width: 576px) {
  nav .logo {
    width: 50px;
    height: 50px;
  }
}
nav .logo img {
  width: 65%;
}
nav .navContainer {
  width: 100%;
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 576px) {
  nav .navContainer {
    background: black;
    width: 110%;
    right: -150%;
    height: 50vh;
    top: 0px;
    position: absolute;
  }
}
nav .navContainer .nav {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  z-index: 11;
  font-family: "Lato";
  font-size: 1.5rem;
  font-weight: bold;
}
nav .navContainer .nav .bigHide {
  display: none;
  padding: 5px;
}
nav .navContainer .nav .bigHide div {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
nav .navContainer .nav .bigHide .facebook {
  font-size: 0.9rem;
  background-color: #8C2AFF;
  color: black;
}
nav .navContainer .nav .bigHide .twitch {
  font-size: 1.25rem;
  background-color: red;
  color: black;
}
@media screen and (max-width: 950px) {
  nav .navContainer .nav {
    width: 90%;
    font-size: 1.15rem;
  }
}
@media screen and (max-width: 690px) {
  nav .navContainer .nav {
    font-size: 13px;
  }
}
@media screen and (max-width: 576px) {
  nav .navContainer .nav {
    height: 70%;
    flex-direction: column;
    padding: 15px;
    align-items: end;
    justify-content: end;
    transform: translateY(50px);
  }
  nav .navContainer .nav .bigHide {
    display: flex;
  }
  nav .navContainer .nav li:hover {
    color: white !important;
  }
}
nav .navContainer .nav li a {
  color: #707070;
  transition: 0.3s;
}
nav .navContainer .nav li a .newRoom {
  position: relative;
}
nav .navContainer .nav li a .new {
  color: red;
  font-size: 8px;
  position: absolute;
  top: 0px;
  right: -20px;
}
nav .navContainer .nav li a:hover {
  color: black;
}
nav .navContainer .nav #rooms {
  position: relative;
}
nav .navContainer .nav #rooms .under {
  display: none;
  padding: 0;
  width: 550%;
  padding-top: 60%;
}
nav .navContainer .nav #rooms .under li {
  color: white;
}
nav .navContainer .nav #rooms .under li:hover {
  color: #19e4f9;
}
nav .navContainer .nav #rooms:hover .under {
  position: absolute;
  top: 100%;
  display: block;
  text-align: left;
}
nav .navContainer .nav #rooms:hover {
  display: flex;
}
nav .navContainer #close {
  display: none;
  border: 2px solid #19e4f9;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  position: absolute;
  color: #19e4f9;
  z-index: 15;
  top: 5px;
  right: 15px;
}
@media screen and (max-width: 576px) {
  nav .navContainer #close {
    display: inherit;
  }
}
nav .navContainer #close .closeContainer div {
  background: #19e4f9;
  height: 3px;
  width: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  animation: navAnimeIn 2s s;
}
nav .navContainer #close .closeContainer .left {
  transform: translate(-50%, -50%) rotate(45deg);
}
nav .navContainer #close .closeContainer .right {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.level-easy{
	color: green;
}

.level-normal {
	color:orange;
}

.level-difficult {
	color: red;
}
/*# sourceMappingURL=style.css.map */